<!DOCTYPE html>
<html>
<head>
  <title>User App</title>
</head>
<body>
  <header class="container-fluid bg-secondary mb-5">
    <div class="row">
      <div class="col-12">
        <h1 class="text-white">User App</h1>
      </div>
    </div>
  </header>
  <div class="container">
    <div class="row mb-5">
      <div class="col-12">
        <form [formGroup]="searchForm" (ngSubmit)="onSearch()" class="form-row search-form">
          <div class="col">
            <input type="text" formControlName="firstname" placeholder="First name*" class="form-control"/>
            <span class="help-block"
                  *ngIf="!searchForm.get('firstname').valid && searchForm.get('firstname').touched">First name is required</span>
          </div>
          <div class="col">
            <input type="text" formControlName="surname" placeholder="Surname*" class="form-control"/>
            <span class="help-block"
                  *ngIf="!searchForm.get('surname').valid && searchForm.get('surname').touched">Surname is required</span>
          </div>
          <div class="col">
            <button type="submit" class="btn btn-primary" [disabled]="!searchForm.get('firstname').valid || !searchForm.get('surname').valid">Search</button>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <p *ngIf="isRetrievingUser && !error; else notLoading" class="h3 pt-3 pd-3">Loading...</p>
      <ng-template #notLoading>
        <div *ngIf="user" class="col-md-6 user-details">
          <img [src]="user.imageUrl" class="img-fluid mb-2" />
          <ul class="list-group">
            <li class="list-group-item">First name: {{user.firstname}}</li>
            <li class="list-group-item">Surname: {{user.surname}}</li>
            <li class="list-group-item">Date of birth: {{user.dateOfBirth | date: "mediumDate"}}</li>
            <li class="list-group-item">Gender: {{user.gender}}</li>
          </ul>
        </div>
      </ng-template>
      <div class="alert alert-danger" *ngIf="error">
        <p>{{ error }}</p>
      </div>
    </div>
  </div>
</body>
</html>
