<!DOCTYPE html>
<html>
<head>
  <title>User App</title>
</head>
<body>
  <header class="container-fluid bg-secondary mb-5">
    <div class="row">
      <div class="col-12">
        <h1 class="text-white">User App</h1>
      </div>
    </div>
  </header>
  <div class="container">
    <div class="row mb-5">
      <div class="col-12">
        <form class="form-row">
          <div class="col">
            <input type="text" name="firstname" placeholder="First name" class="form-control"/>
          </div>
          <div class="col">
            <input type="text" name="surname" placeholder="First name" class="form-control"/>
          </div>
          <div class="col">
            <button type="submit" class="btn btn-primary">Search</button>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div *ngIf="user != null" class="col-md-6 user-details">
        <img [src]="user.imageUrl" class="img-fluid mb-2" />
        <ul class="list-group">
          <li class="list-group-item">First name: {{user.firstname}}</li>
          <li class="list-group-item">Surname: {{user.surname}}</li>
          <li class="list-group-item">Date of birth: {{user.dateOfBirth | date: "mediumDate"}}</li>
          <li class="list-group-item">Gender: {{user.gender}}</li>
        </ul>
      </div>
    </div>
  </div>
</body>
</html>
